/var/log/audit/audit.log {
    daily
    rotate 14
    compress
    delaycompress
    missingok
    notifempty
    postrotate
        /usr/sbin/service auditd reload > /dev/null 2>&1 || true
    endscript
}
